.input-container {
  --padding-start: 0px;
  padding-top: 0px;
}

.input-container--basic {
  border-bottom: 1px solid  var(--ion-color-medium);
}

.input-container--error {
  border-bottom: 1px solid var(--ion-color-danger);
}

.sc-ion-input-ios-h {
  --padding-bottom: 5px;
}

.native-input.sc-ion-input-ios {
  padding-top: 0px;
}
